In [109]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import datetime

In [2]:
DB_NAME = "postgres"
DB_USER = "root"
DB_PASS = "7KxkIO3N4g6vef7W8mMf"
DB_HOST = "database-1.ctkumo88chgh.us-east-2.rds.amazonaws.com"
DB_PORT = "5432"
db_url = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}"

engine = create_engine(db_url)
conn = engine.connect()

In [3]:
sql = """
select * from testdata;
"""

df = pd.read_sql(sql, conn)

In [4]:
df

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,...,train_length,estimated_time,source,actual_time,actual_time_class,is_delayed_arrival,is_delayed_departure,late_code,source_instance,estimated_time_minutes
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,None,17:29:30,17:30:00,17:30:00,...,10.0,None,None,None,None,False,False,None,None,None
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,None,17:38:30,17:39:00,17:39:00,...,10.0,None,None,None,None,False,False,None,None,None
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,None,17:44:30,17:49:30,17:45:00,...,10.0,None,None,None,None,False,False,None,None,None
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,None,17:27:30,17:28:00,17:28:00,...,8.0,None,None,None,None,False,False,None,None,None
4,17:27:23.812408,202403298731420,W31420,2024-03-29,None,TABY,None,17:30:30,17:31:30,17:31:00,...,NaN,None,None,None,None,False,False,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121818,17:18:00.649408,202403317126913,G26913,2024-03-31,Darwin,HARLSDN,None,16:49:00,16:49:30,16:49:00,...,NaN,None,None,None,None,True,True,None,None,None
121819,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,HARLSDN,None,17:12:00,17:12:30,17:12:00,...,NaN,None,None,None,None,True,True,None,None,None
121820,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,WLSDNJL,None,17:14:00,17:14:30,17:14:00,...,NaN,None,None,None,None,True,True,None,None,None
121821,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,KENSLG,None,17:16:30,17:17:00,17:17:00,...,NaN,None,None,None,None,True,True,None,None,None
121822,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,QPRK,None,17:20:30,17:22:30,17:21:00,...,NaN,None,None,None,None,True,True,None,None,None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121823 entries, 0 to 121822
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            121823 non-null  object
 1   route_id                121823 non-null  object
 2   unique_id               121823 non-null  object
 3   service_start_date      121823 non-null  object
 4   update_origin           117776 non-null  object
 5   train_platform          121823 non-null  object
 6   working_time_pass       0 non-null       object
 7   working_time_arrival    121823 non-null  object
 8   working_time_departure  121823 non-null  object
 9   planned_time_arrival    111060 non-null  object
 10  planned_time_departure  110507 non-null  object
 11  actual_arrival_time     100342 non-null  object
 12  actual_departure_time   112009 non-null  object
 13  platform                114701 non-null  object
 14  train_length            39335 non-null   float64
 15  estimated_time          0 non-null       object
 16  source                  0 non-null       object
 17  actual_time             0 non-null       object
 18  actual_time_class       0 non-null       object
 19  is_delayed_arrival      121823 non-null  bool
 20  is_delayed_departure    121823 non-null  bool
 21  late_code               0 non-null       object
 22  source_instance         0 non-null       object
 23  estimated_time_minutes  0 non-null       object
dtypes: bool(2), float64(1), object(21)
memory usage: 20.7+ MB

In [7]:
working_df = df.drop(columns=['working_time_pass', 'estimated_time', 'source', 'actual_time', 'actual_time_class', 'late_code', 'source_instance', 'estimated_time_minutes'])

In [8]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121823 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            121823 non-null  object
 1   route_id                121823 non-null  object
 2   unique_id               121823 non-null  object
 3   service_start_date      121823 non-null  object
 4   update_origin           117776 non-null  object
 5   train_platform          121823 non-null  object
 6   working_time_arrival    121823 non-null  object
 7   working_time_departure  121823 non-null  object
 8   planned_time_arrival    111060 non-null  object
 9   planned_time_departure  110507 non-null  object
 10  actual_arrival_time     100342 non-null  object
 11  actual_departure_time   112009 non-null  object
 12  platform                114701 non-null  object
 13  train_length            39335 non-null   float64
 14  is_delayed_arrival      121823 non-null  bool
 15  is_delayed_departure    121823 non-null  bool
dtypes: bool(2), float64(1), object(13)
memory usage: 13.2+ MB

In [10]:
working_df['train_length'] = working_df['train_length'].fillna(8.0)

In [11]:
working_df['train_length'] = working_df['train_length'].astype(int)

In [12]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121823 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            121823 non-null  object
 1   route_id                121823 non-null  object
 2   unique_id               121823 non-null  object
 3   service_start_date      121823 non-null  object
 4   update_origin           117776 non-null  object
 5   train_platform          121823 non-null  object
 6   working_time_arrival    121823 non-null  object
 7   working_time_departure  121823 non-null  object
 8   planned_time_arrival    111060 non-null  object
 9   planned_time_departure  110507 non-null  object
 10  actual_arrival_time     100342 non-null  object
 11  actual_departure_time   112009 non-null  object
 12  platform                114701 non-null  object
 13  train_length            121823 non-null  int32
 14  is_delayed_arrival      121823 non-null  bool
 15  is_delayed_departure    121823 non-null  bool
dtypes: bool(2), int32(1), object(13)
memory usage: 12.8+ MB

In [13]:
working_df['platform'] = working_df['platform'].fillna('None')

In [14]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121823 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            121823 non-null  object
 1   route_id                121823 non-null  object
 2   unique_id               121823 non-null  object
 3   service_start_date      121823 non-null  object
 4   update_origin           117776 non-null  object
 5   train_platform          121823 non-null  object
 6   working_time_arrival    121823 non-null  object
 7   working_time_departure  121823 non-null  object
 8   planned_time_arrival    111060 non-null  object
 9   planned_time_departure  110507 non-null  object
 10  actual_arrival_time     100342 non-null  object
 11  actual_departure_time   112009 non-null  object
 12  platform                121823 non-null  object
 13  train_length            121823 non-null  int32
 14  is_delayed_arrival      121823 non-null  bool
 15  is_delayed_departure    121823 non-null  bool
dtypes: bool(2), int32(1), object(13)
memory usage: 12.8+ MB

In [15]:
working_df.dropna(subset=['update_origin'], inplace=True)
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            117776 non-null  object
 1   route_id                117776 non-null  object
 2   unique_id               117776 non-null  object
 3   service_start_date      117776 non-null  object
 4   update_origin           117776 non-null  object
 5   train_platform          117776 non-null  object
 6   working_time_arrival    117776 non-null  object
 7   working_time_departure  117776 non-null  object
 8   planned_time_arrival    107068 non-null  object
 9   planned_time_departure  106515 non-null  object
 10  actual_arrival_time     96976 non-null   object
 11  actual_departure_time   108183 non-null  object
 12  platform                117776 non-null  object
 13  train_length            117776 non-null  int32
 14  is_delayed_arrival      117776 non-null  bool
 15  is_delayed_departure    117776 non-null  bool
dtypes: bool(2), int32(1), object(13)
memory usage: 13.3+ MB

In [16]:
working_df['service_start_date']=pd.to_datetime(working_df['service_start_date'])

In [17]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   message_time            117776 non-null  object
 1   route_id                117776 non-null  object
 2   unique_id               117776 non-null  object
 3   service_start_date      117776 non-null  datetime64[ns]
 4   update_origin           117776 non-null  object
 5   train_platform          117776 non-null  object
 6   working_time_arrival    117776 non-null  object
 7   working_time_departure  117776 non-null  object
 8   planned_time_arrival    107068 non-null  object
 9   planned_time_departure  106515 non-null  object
 10  actual_arrival_time     96976 non-null   object
 11  actual_departure_time   108183 non-null  object
 12  platform                117776 non-null  object
 13  train_length            117776 non-null  int32
 14  is_delayed_arrival      117776 non-null  bool
 15  is_delayed_departure    117776 non-null  bool
dtypes: bool(2), datetime64[ns](1), int32(1), object(12)
memory usage: 13.3+ MB

In [19]:
working_df['working_time_arrival'][0]

datetime.time(17, 29, 30)

In [53]:
working_df['working_arrival_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['working_time_arrival'].astype(str)
working_df.head()

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,...,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,17:29:30,17:30:00,17:30:00,17:30:00,...,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,17:38:30,17:39:00,17:39:00,17:39:00,...,4,10,False,False,2024-03-29 17:38:30,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,17:44:30,17:49:30,17:45:00,17:49:00,...,2,10,False,False,2024-03-29 17:44:30,2024-03-29 17:49:30,2024-03-29 17:45:00,2024-03-29 17:49:00,2024-03-29 17:45:00,2024-03-29 17:49:00
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,17:27:30,17:28:00,17:28:00,17:28:00,...,2,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,2024-03-29 17:30:00
5,17:27:23.859408,202403298155319,Q55319,2024-03-29,Trust,NSHEEN,17:25:30,17:26:00,17:26:00,17:26:00,...,2,8,False,False,2024-03-29 17:25:30,2024-03-29 17:26:00,2024-03-29 17:26:00,2024-03-29 17:26:00,NaT,NaT

In [54]:
working_df['working_arrival_datetime'] = pd.to_datetime(working_df['working_arrival_datetime'])
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   message_time                117776 non-null  object
 1   route_id                    117776 non-null  object
 2   unique_id                   117776 non-null  object
 3   service_start_date          117776 non-null  datetime64[ns]
 4   update_origin               117776 non-null  object
 5   train_platform              117776 non-null  object
 6   working_time_arrival        117776 non-null  object
 7   working_time_departure      117776 non-null  object
 8   planned_time_arrival        107068 non-null  object
 9   planned_time_departure      106515 non-null  object
 10  actual_arrival_time         96976 non-null   object
 11  actual_departure_time       108183 non-null  object
 12  platform                    117776 non-null  object
 13  train_length                117776 non-null  int32
 14  is_delayed_arrival          117776 non-null  bool
 15  is_delayed_departure        117776 non-null  bool
 16  working_arrival_datetime    117776 non-null  datetime64[ns]
 17  working_departure_datetime  117776 non-null  datetime64[ns]
 18  planned_arrival_datetime    107068 non-null  datetime64[ns]
 19  planned_departure_datetime  106515 non-null  datetime64[ns]
 20  actual_arrival_datetime     96976 non-null   datetime64[ns]
 21  actual_departure_datetime   108183 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](7), int32(1), object(12)
memory usage: 22.7+ MB

In [55]:
working_df['working_departure_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['working_time_departure'].astype(str)
working_df['planned_arrival_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['planned_time_arrival'].astype(str)
working_df['planned_departure_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['planned_time_departure'].astype(str)
working_df['actual_arrival_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['actual_arrival_time'].astype(str)
working_df['actual_departure_datetime'] = working_df['service_start_date'].astype(str) + " " + working_df['actual_departure_time'].astype(str)

In [56]:
def date_helper(datetime):
    if 'NaT' in datetime or 'None' in datetime:
        return "NaT"
    else:
        return datetime

working_df['planned_arrival_datetime'] = working_df['planned_arrival_datetime'].apply(date_helper)
working_df['planned_departure_datetime'] = working_df['planned_departure_datetime'].apply(date_helper)
working_df['actual_arrival_datetime'] = working_df['actual_arrival_datetime'].apply(date_helper)
working_df['actual_departure_datetime'] = working_df['actual_departure_datetime'].apply(date_helper)

In [57]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   message_time                117776 non-null  object
 1   route_id                    117776 non-null  object
 2   unique_id                   117776 non-null  object
 3   service_start_date          117776 non-null  datetime64[ns]
 4   update_origin               117776 non-null  object
 5   train_platform              117776 non-null  object
 6   working_time_arrival        117776 non-null  object
 7   working_time_departure      117776 non-null  object
 8   planned_time_arrival        107068 non-null  object
 9   planned_time_departure      106515 non-null  object
 10  actual_arrival_time         96976 non-null   object
 11  actual_departure_time       108183 non-null  object
 12  platform                    117776 non-null  object
 13  train_length                117776 non-null  int32
 14  is_delayed_arrival          117776 non-null  bool
 15  is_delayed_departure        117776 non-null  bool
 16  working_arrival_datetime    117776 non-null  datetime64[ns]
 17  working_departure_datetime  117776 non-null  object
 18  planned_arrival_datetime    117776 non-null  object
 19  planned_departure_datetime  117776 non-null  object
 20  actual_arrival_datetime     117776 non-null  object
 21  actual_departure_datetime   117776 non-null  object
dtypes: bool(2), datetime64[ns](2), int32(1), object(17)
memory usage: 22.7+ MB

In [58]:
working_df['working_departure_datetime'] = pd.to_datetime(working_df['working_departure_datetime'])
working_df['planned_arrival_datetime'] = pd.to_datetime(working_df['planned_arrival_datetime'])
working_df['planned_departure_datetime'] = pd.to_datetime(working_df['planned_departure_datetime'])
working_df['actual_arrival_datetime'] = pd.to_datetime(working_df['actual_arrival_datetime'])
working_df['actual_departure_datetime'] = pd.to_datetime(working_df['actual_departure_datetime'])

In [59]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   message_time                117776 non-null  object
 1   route_id                    117776 non-null  object
 2   unique_id                   117776 non-null  object
 3   service_start_date          117776 non-null  datetime64[ns]
 4   update_origin               117776 non-null  object
 5   train_platform              117776 non-null  object
 6   working_time_arrival        117776 non-null  object
 7   working_time_departure      117776 non-null  object
 8   planned_time_arrival        107068 non-null  object
 9   planned_time_departure      106515 non-null  object
 10  actual_arrival_time         96976 non-null   object
 11  actual_departure_time       108183 non-null  object
 12  platform                    117776 non-null  object
 13  train_length                117776 non-null  int32
 14  is_delayed_arrival          117776 non-null  bool
 15  is_delayed_departure        117776 non-null  bool
 16  working_arrival_datetime    117776 non-null  datetime64[ns]
 17  working_departure_datetime  117776 non-null  datetime64[ns]
 18  planned_arrival_datetime    107068 non-null  datetime64[ns]
 19  planned_departure_datetime  106515 non-null  datetime64[ns]
 20  actual_arrival_datetime     96976 non-null   datetime64[ns]
 21  actual_departure_datetime   108183 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](7), int32(1), object(12)
memory usage: 22.7+ MB

In [60]:
working_df.drop(columns=['working_time_arrival', 'working_time_departure', 'planned_time_arrival', 'planned_time_departure', 'actual_arrival_time', 'actual_departure_time'], inplace=True)

In [61]:
working_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117776 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   message_time                117776 non-null  object
 1   route_id                    117776 non-null  object
 2   unique_id                   117776 non-null  object
 3   service_start_date          117776 non-null  datetime64[ns]
 4   update_origin               117776 non-null  object
 5   train_platform              117776 non-null  object
 6   platform                    117776 non-null  object
 7   train_length                117776 non-null  int32
 8   is_delayed_arrival          117776 non-null  bool
 9   is_delayed_departure        117776 non-null  bool
 10  working_arrival_datetime    117776 non-null  datetime64[ns]
 11  working_departure_datetime  117776 non-null  datetime64[ns]
 12  planned_arrival_datetime    107068 non-null  datetime64[ns]
 13  planned_departure_datetime  106515 non-null  datetime64[ns]
 14  actual_arrival_datetime     96976 non-null   datetime64[ns]
 15  actual_departure_datetime   108183 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](7), int32(1), object(6)
memory usage: 17.3+ MB

In [65]:
working_df['planned_arrival_datetime'].isna().sum()

10708

In [69]:
test_df = working_df.copy()

In [70]:
test_df.dropna(inplace = True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86649 entries, 0 to 121822
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   message_time                86649 non-null  object
 1   route_id                    86649 non-null  object
 2   unique_id                   86649 non-null  object
 3   service_start_date          86649 non-null  datetime64[ns]
 4   update_origin               86649 non-null  object
 5   train_platform              86649 non-null  object
 6   platform                    86649 non-null  object
 7   train_length                86649 non-null  int32
 8   is_delayed_arrival          86649 non-null  bool
 9   is_delayed_departure        86649 non-null  bool
 10  working_arrival_datetime    86649 non-null  datetime64[ns]
 11  working_departure_datetime  86649 non-null  datetime64[ns]
 12  planned_arrival_datetime    86649 non-null  datetime64[ns]
 13  planned_departure_datetime  86649 non-null  datetime64[ns]
 14  actual_arrival_datetime     86649 non-null  datetime64[ns]
 15  actual_departure_datetime   86649 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](7), int32(1), object(6)
memory usage: 9.8+ MB

In [73]:
test_df['arrival_time_diff'] = test_df['actual_arrival_datetime'] - test_df['planned_arrival_datetime']

In [74]:
test_df.head()

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime,arrival_time_diff
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00,0 days 00:01:00
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,4,10,False,False,2024-03-29 17:38:30,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,0 days 00:00:00
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,2,10,False,False,2024-03-29 17:44:30,2024-03-29 17:49:30,2024-03-29 17:45:00,2024-03-29 17:49:00,2024-03-29 17:45:00,2024-03-29 17:49:00,0 days 00:00:00
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,2,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,2024-03-29 17:30:00,0 days 00:01:00
6,17:27:23.859408,202403298155319,Q55319,2024-03-29,Trust,RICHMND,1,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,0 days 00:00:00

In [75]:
working_df['arrival_time_diff'] = working_df['actual_arrival_datetime'] - working_df['planned_arrival_datetime']

In [76]:
working_df.head()

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime,arrival_time_diff
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00,0 days 00:01:00
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,4,10,False,False,2024-03-29 17:38:30,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,0 days 00:00:00
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,2,10,False,False,2024-03-29 17:44:30,2024-03-29 17:49:30,2024-03-29 17:45:00,2024-03-29 17:49:00,2024-03-29 17:45:00,2024-03-29 17:49:00,0 days 00:00:00
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,2,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,2024-03-29 17:30:00,0 days 00:01:00
5,17:27:23.859408,202403298155319,Q55319,2024-03-29,Trust,NSHEEN,2,8,False,False,2024-03-29 17:25:30,2024-03-29 17:26:00,2024-03-29 17:26:00,2024-03-29 17:26:00,NaT,NaT,NaT

In [77]:
working_df['departure_time_diff'] = working_df['actual_departure_datetime'] - working_df['planned_departure_datetime']

In [78]:
working_df.head()

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime,arrival_time_diff,departure_time_diff
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00,0 days 00:01:00,0 days 00:01:00
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,4,10,False,False,2024-03-29 17:38:30,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,0 days 00:00:00,0 days 00:00:00
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,2,10,False,False,2024-03-29 17:44:30,2024-03-29 17:49:30,2024-03-29 17:45:00,2024-03-29 17:49:00,2024-03-29 17:45:00,2024-03-29 17:49:00,0 days 00:00:00,0 days 00:00:00
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,2,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,2024-03-29 17:30:00,0 days 00:01:00,0 days 00:02:00
5,17:27:23.859408,202403298155319,Q55319,2024-03-29,Trust,NSHEEN,2,8,False,False,2024-03-29 17:25:30,2024-03-29 17:26:00,2024-03-29 17:26:00,2024-03-29 17:26:00,NaT,NaT,NaT,NaT

In [81]:
working_df['arrival_time_diff'].max()

Timedelta('0 days 04:13:00')

In [80]:
display(working_df)

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime,arrival_time_diff,departure_time_diff
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00,0 days 00:01:00,0 days 00:01:00
1,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,SHENFLD,4,10,False,False,2024-03-29 17:38:30,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,2024-03-29 17:39:00,0 days 00:00:00,0 days 00:00:00
2,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,BILERCY,2,10,False,False,2024-03-29 17:44:30,2024-03-29 17:49:30,2024-03-29 17:45:00,2024-03-29 17:49:00,2024-03-29 17:45:00,2024-03-29 17:49:00,0 days 00:00:00,0 days 00:00:00
3,17:27:16.599408,202403297420713,J20713,2024-03-29,CIS,CHLSFLD,2,8,False,False,2024-03-29 17:27:30,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:28:00,2024-03-29 17:29:00,2024-03-29 17:30:00,0 days 00:01:00,0 days 00:02:00
5,17:27:23.859408,202403298155319,Q55319,2024-03-29,Trust,NSHEEN,2,8,False,False,2024-03-29 17:25:30,2024-03-29 17:26:00,2024-03-29 17:26:00,2024-03-29 17:26:00,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121818,17:18:00.649408,202403317126913,G26913,2024-03-31,Darwin,HARLSDN,2,8,True,True,2024-03-31 16:49:00,2024-03-31 16:49:30,2024-03-31 16:49:00,2024-03-31 16:49:00,2024-03-31 18:20:00,2024-03-31 18:20:00,0 days 01:31:00,0 days 01:31:00
121819,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,HARLSDN,1,8,True,True,2024-03-31 17:12:00,2024-03-31 17:12:30,2024-03-31 17:12:00,2024-03-31 17:12:00,2024-03-31 18:28:00,2024-03-31 18:28:00,0 days 01:16:00,0 days 01:16:00
121820,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,WLSDNJL,1,8,True,True,2024-03-31 17:14:00,2024-03-31 17:14:30,2024-03-31 17:14:00,2024-03-31 17:14:00,2024-03-31 18:30:00,2024-03-31 18:30:00,0 days 01:16:00,0 days 01:16:00
121821,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,KENSLG,1,8,True,True,2024-03-31 17:16:30,2024-03-31 17:17:00,2024-03-31 17:17:00,2024-03-31 17:17:00,2024-03-31 18:32:00,2024-03-31 18:33:00,0 days 01:15:00,0 days 01:16:00
121822,17:18:00.650408,202403317126544,G26544,2024-03-31,Darwin,QPRK,2,8,True,True,2024-03-31 17:20:30,2024-03-31 17:22:30,2024-03-31 17:21:00,2024-03-31 17:22:00,2024-03-31 18:36:00,2024-03-31 18:37:00,0 days 01:15:00,0 days 01:15:00

In [82]:
working_df['arrival_time_diff'][0]

Timedelta('0 days 00:01:00')

In [90]:
working_df['arrival_time_diff'].max()

Timedelta('0 days 04:13:00')

In [91]:
working_df['arrival_time_diff'].min()

Timedelta('-1 days +00:01:00')

There was a max arrival delay of 4hrs 13min, and a min arrival delay of 1min across the entire dataset

In [86]:
working_df['arrival_time_diff'].mean() + pd.to_timedelta([1], unit = 'D' )

TimedeltaIndex(['0 days 23:54:57.788315414'], dtype='timedelta64[ns]', freq=None)

There is an average arrival delay of 5min 2sec across the dataset

In [87]:
working_df['arrival_time_diff'].mean()

Timedelta('-1 days +23:54:57.788315414')

In [88]:
working_df['arrival_time_diff'].value_counts()

arrival_time_diff
0 days 00:00:00      59100
0 days 00:01:00       5460
0 days 00:02:00       4893
0 days 00:03:00       3146
0 days 00:04:00       2109
                     ...
0 days 03:09:00          1
-1 days +00:28:00        1
-1 days +01:13:00        1
0 days 03:50:00          1
-1 days +01:39:00        1
Name: count, Length: 350, dtype: int64

In [89]:
working_df['departure_time_diff'].mean() + pd.to_timedelta([1], unit = 'D' )

TimedeltaIndex(['0 days 23:55:10.471533428'], dtype='timedelta64[ns]', freq=None)

There is an average departure delay of 4min 50sec across the dataset

In [92]:
working_df['departure_time_diff'].max()

Timedelta('0 days 04:14:00')

In [93]:
working_df['departure_time_diff'].min()

Timedelta('-1 days +00:01:00')

There was a max departure delay of 4hrs 14min, and a min departure delay of 1min across the entire dataset

In [94]:
ref_df = pd.read_csv('./railreference.csv')
ref_df.head()

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev

In [95]:
refslim_df = ref_df[['TiplocCode', 'StationName']]
refslim_df.head()

  TiplocCode                      StationName
0    PENZNCE            Penzance Rail Station
1     STIVES  St Ives (Cornwall) Rail Station
2    CARBISB          Carbis Bay Rail Station
3     STERTH             St Erth Rail Station
4    LELANTS     Lelant Saltings Rail Station

In [96]:
final_working_df = pd.merge(working_df, refslim_df, left_on='train_platform', right_on='TiplocCode', how='inner')
final_working_df.head()

,message_time,route_id,unique_id,service_start_date,update_origin,train_platform,platform,train_length,is_delayed_arrival,is_delayed_departure,working_arrival_datetime,working_departure_datetime,planned_arrival_datetime,planned_departure_datetime,actual_arrival_datetime,actual_departure_datetime,arrival_time_diff,departure_time_diff,TiplocCode,StationName
0,17:27:16.584408,202403297025211,F25211,2024-03-29,TD,ROMFORD,3,10,False,False,2024-03-29 17:29:30,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:30:00,2024-03-29 17:31:00,2024-03-29 17:31:00,0 days 00:01:00,0 days 00:01:00,ROMFORD,Romford Rail Station
1,17:46:15.996408,202403297034115,F34115,2024-03-29,TD,ROMFORD,4,8,False,False,2024-03-29 17:46:00,2024-03-29 17:47:00,2024-03-29 17:46:00,2024-03-29 17:47:00,NaT,2024-03-29 17:47:00,NaT,0 days 00:00:00,ROMFORD,Romford Rail Station
2,18:24:00.879408,202403297025237,F25237,2024-03-29,Darwin,ROMFORD,3,10,False,False,2024-03-29 18:29:30,2024-03-29 18:30:00,2024-03-29 18:30:00,2024-03-29 18:30:00,2024-03-29 18:32:00,2024-03-29 18:32:00,0 days 00:02:00,0 days 00:02:00,ROMFORD,Romford Rail Station
3,19:01:30.336408,202403297034363,F34363,2024-03-29,TD,ROMFORD,5,8,False,False,2024-03-29 19:00:30,2024-03-29 19:01:30,2024-03-29 19:01:00,2024-03-29 19:01:00,NaT,2024-03-29 19:02:00,NaT,0 days 00:01:00,ROMFORD,Romford Rail Station
4,19:01:36.124408,202403297034373,F34373,2024-03-29,TD,ROMFORD,5,8,False,False,2024-03-29 19:08:30,2024-03-29 19:09:30,2024-03-29 19:09:00,2024-03-29 19:09:00,2024-03-29 19:09:00,2024-03-29 19:10:00,0 days 00:00:00,0 days 00:01:00,ROMFORD,Romford Rail Station

In [101]:
final_working_df.drop(columns=['TiplocCode'], inplace = True)

In [102]:
final_working_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110037 entries, 0 to 110036
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   message_time                110037 non-null  object
 1   route_id                    110037 non-null  object
 2   unique_id                   110037 non-null  object
 3   service_start_date          110037 non-null  datetime64[ns]
 4   update_origin               110037 non-null  object
 5   train_platform              110037 non-null  object
 6   platform                    110037 non-null  object
 7   train_length                110037 non-null  int32
 8   is_delayed_arrival          110037 non-null  bool
 9   is_delayed_departure        110037 non-null  bool
 10  working_arrival_datetime    110037 non-null  datetime64[ns]
 11  working_departure_datetime  110037 non-null  datetime64[ns]
 12  planned_arrival_datetime    105814 non-null  datetime64[ns]
 13  planned_departure_datetime  105257 non-null  datetime64[ns]
 14  actual_arrival_datetime     89927 non-null   datetime64[ns]
 15  actual_departure_datetime   100783 non-null  datetime64[ns]
 16  arrival_time_diff           86491 non-null   timedelta64[ns]
 17  departure_time_diff         96810 non-null   timedelta64[ns]
 18  StationName                 110037 non-null  object
dtypes: bool(2), datetime64[ns](7), int32(1), object(7), timedelta64[ns](2)
memory usage: 14.1+ MB

In [117]:
final_working_df['is_delayed_arrival'].value_counts()

is_delayed_arrival
False    102527
True       7510
Name: count, dtype: int64

In [118]:
final_working_df['is_delayed_departure'].value_counts()

is_delayed_departure
False    101996
True       8041
Name: count, dtype: int64

In [119]:
final_working_df.to_csv("final_UK_Rail_data_040224.csv", index=False)